body {
    font-family: Arial, sans-serif;
    /* font-family: "Comic Sans MS", cursive; */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #fafafa;
    color: #333;
    background-image: url("images/bg.png");
    background-size: cover;
}

.container {
    width: 100%;
    max-width: 400px;
}

.card {
    width: 100%;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

input,
select {
    padding: 10px;
    margin-bottom: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    transition: border-color 0.3s ease-in-out;
    outline: none;
    color: #333;
    background-color: #f4f4f4;
}

input:focus {
    border-color: #ff9900;
}

#loginForm input[type="password"]::-ms-reveal,
#loginForm input[type="password"]::-ms-clear {
    display: none;
}

button {
    background-color: #ff9900;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #ff6600;
}

button a {
    text-decoration: none;
}

a {
    cursor: pointer;
}

button a {
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.signup {
    padding: 0 7.5px;
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.signup a {
    font-weight: 800;
    color: #8c0000;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}

.logo {
    width: 145px;
    height: auto;
    margin: 0 auto;
    display: flex;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 200px;
}

.no-bg {
    background: none;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

#loginForm > button {
    margin-top: 12px;
}